# Node
meditrust-backend/node_modules/
hms-backend/node_modules/

# Python
flask-backend/venv/
flask-backend/__pycache__/
flask-backend/uploads/
flask-backend/nlp/__pycache__/
flask-backend/ocr/__pycache__/
flask-backend/validation/__pycache__/
flask-backend/notifications/__pycache__/
flask-backend/automation/__pycache__/

# Environment files (IMPORTANT - never push secrets)
meditrust-backend/.env
hms-backend/.env
flask-backend/.env

# Prisma
meditrust-backend/prisma/migrations/
hms-backend/prisma/migrations/

# Logs
*.log